<%
  alias Soubory.Models.SimpleFile

%>

<i>File detail</i>
<h1><%=@info.name%></h1>
<tr>
  <td> <%=live_redirect "back to: " <> @parent, to: Routes.files_path(@socket, :files, @parent)  %></td>
</tr>
<br>
<table>
  <tr>
    <td> fullpath</td>
    <td><%=@info.fullpath%></td>
  </tr>
  <tr>
    <td> extension</td>
    <td><%=@info.extension%></td>
  </tr>
  <tr>
    <td> size</td>
    <td><%=@info.size%>b</td>
  </tr>

</table>
